{% extends "layout.html" %}{% block content %}

<form action="/rename" method="POST">
    <input type="text" id="user_name" name="user_name" placeholder="Write Your Name">
    <input type="text" id="bot_name" name="bot_name" placeholder="Write Bot Name">
    <button>submit</button>
</form>

<div id="modelChangeArea">
    <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data" onsubmit="return false;">
        <input id="upFile" type="file" name="the_file">
        <button id="uploadBtn" onclick="uploadFormSubmit(document.getElementById('upFile'))">upload</button>
    </form>
</div>

<canvas id="canvas" width="430px" height="600px"></canvas>

<script src="static/main.js"></script>

<script>
    function uploadFormSubmit(input_value) {
        var formData = new FormData($('#uploadForm')[0]);
        $.ajax({
            url: '/upload',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            timeout: 10000
        }).done(function () {
            // form要素の削除
            var parent = document.getElementById('modelChangeArea');
            var child = document.getElementById('uploadForm');
            parent.removeChild(child);

            // #modelChangeBtnを追加
            var newElement = document.createElement("button");
            var newContent = document.createTextNode("Model Change");
            newElement.appendChild(newContent);
            newElement.setAttribute("id", "modelChangeBtn");
            parent.appendChild(newElement);
        }).fail(function () {
            console.log('fail');
        });

    };
</script>


{% endblock %}
