<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
        <title>3DUDN</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
    </head>
    <body>
        <div id="loading">
            <div class="loader bluelight">
                <p>Now Loading...</p>
            </div>
        </div>

        <div id="chatArea">
            <div id="chatLogs">
            </div>
        </div>

        <form name="example_form" onsubmit="return false;">
            <input type="text" id="chatMessage" name="chatMessage" placeholder="Write message">
            <input type="button" id="recStart_" class="recordBtn" value="録音開始" />
            <input type="button" id="recStop_" class="recordBtn" value="録音終了" />
            <button onclick="changeHandler(document.getElementById('chatMessage'))">submit</button>
        </form>

        <!--アップロード-->
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>upload</button>
        </form>

        <canvas id="canvas" width="600px" height="600px"></canvas>

        <script src="static/main.js"></script>

        <script>

            // background
            bubbly({
                    colorStart: '#6edbff',
                    colorStop: '#6edbff',
                    blur: 5,
                    compose: 'source-over',
                    bubbles: 80,
                    velocityFunc: () => Math.random() * 1.3,
                    radiusFunc: () => Math.random() * 20,
                    bubbleFunc: () => `hsla(${Math.random() * 360}, 50%, 85%, .18)`
                });


            // チャット
            function changeHandler(input_value) {
                const chatMessage = $(input_value).serialize();

                // 送信メッセージの表示
                $("#chatLogs").append("<div class='chatLog'>" + input_value.value + "</div>");
                // 入力欄の初期化
                document.getElementById('chatMessage').value = "";
                finalTranscript = "";

                $.ajax("/show", {
                    type: "post",
                    data: chatMessage,  // POSTでサーバーに送信するデータ
                    dataType: "json",
                }).done(function (data) { // 成功した場合実行される
                    console.log("Ajax通信 成功");

                    // POSTリクエストの結果を受け取ってHTMLを書き換える
                    const message = JSON.parse(data.values).message

                    // 受信メッセージの表示
                    $("#chatLogs").append("<div class='chatLog'>" + message + "</div>");

                    // 受信メッセージの読み上げ
                    const text = new SpeechSynthesisUtterance(message);
                    speechSynthesis.speak(text);

                }).fail(function (data) { // 失敗した場合実行される
                    console.log("Ajax通信 失敗");
                });
            }
        </script>

        

    </body>
</html>
