#btnArea{
  #downloadBtn{
    width: fit-content;
    height: fit-content;
    color: $logo-main-color;
  }
  #muteBtn{
    button{
      width: fit-content;
      height: fit-content;
      color: $logo-main-color;
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
}
