#header{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: $BG-header;
  align-items: center;
  padding: 1.2rem 3rem 1rem;
  img{
    width: 30%;
  }
  #setting{
    width: fit-content;
    height: fit-content;
    color: $logo-main-color;
    span{
      font-size: 2.3rem;
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
}
/* mobileここまで */
